body {
  background-color: blueviolet;
  color: antiquewhite;
  text-align: center;
  font-weight: 600;
  font-family: fantasy;
}

h1,
h3 {
  font-size: large;
  color: goldenrod;
  font-weight: 10px;
}
