body {
    background-image: url("https://www.disneyclips.com/freestuff/images/aladdinwallpaper.jpg");
}
h1 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline goldenrod;
    font-family: 'Indie Flower', cursive;
    color: whitesmoke;
}

#container {
border: solid 20px rgb(200, 9, 218);
margin-left: 10%;
margin-right: 10%;
background-color: blue; opacity: .80;
}

#instruction-box {
    border-bottom: solid goldenrod 3px;;
    margin-left:5%;
    margin-right:5%;
    color: whitesmoke

}

.box {
    border-bottom: solid goldenrod 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5%;
    text-align: center;
}
.scores {
    padding: 20px;
    margin:10px;
    font-family: 'Indie Flower', cursive; color:whitesmoke;
    background-color: blueviolet;
    border: solid 5px goldenrod;
}

span{
    border: solid 4px goldenrod;
    background-color:blue;
    padding: 5px;
    padding-left: 5%;
    padding-right: 5%;
}
.box1 {
    border-top: solid goldenrod 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Indie Flower', cursive; color:whitesmoke;
}

.gembox {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*Gems*/

#red {
    width: 100px;
    height: 100px;
    padding-left: 2%;
    padding-right:2%;
}

#blue {
    width: 100px;
    height: 100px;
    padding-left: 2%;
    padding-right:2%;
}

#green {
    width: 100px;
    height: 100px;
    padding-left: 2%;
    padding-right:2%;
}

#diamond {
    width: 100px;
    height: 100px;
    padding-left: 2%;
    padding-right:2%;
}